extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      p Hello, #{user.username}
      a(href="/logout") #{user.username}をLogout
    else
      a(href="/login") Login
  div
    if user
      h2 コメントする
      form(method="post" action="/comments")
        div
          textarea(name="content" rows="4")
        button(type="submit") 投稿
    else
      a(href="http:/login") ログインしてコメントしよう！
  div
    h2 投稿一覧
